

.todo-heading {
    text-align: center;
    margin-top: 5rem; 
    font-size: 2rem;
    font-weight: bold;
    color: #333; 
    cursor: pointer; 
    transition: color 0.3s ease; 
  }
  
  .todo-heading:hover {
    color: #FFA500; 
  }
  